h2{
    font-size: var(--titulares);
    text-align: left;
    color: var(--gris-oscuro);
}
.precios{
    font-size: var(--precios);    
}
h3{
    font-size: var(--descuentos-descripciones);
    color: var(--gris-oscuro);   
}
.descuentos{
    font-size: var(--descuentos-descripciones);
    color: var(--verde);
}
main section{
    text-align: center;
    width: 90%;
    margin: 10px auto;
}
main section article{
    margin: 10px;
}
main section article div{
border-top: solid 1px var(--gris-claro);
padding: 15px;
text-align: left;
background-color: white;
}
main section i{
    padding: 7px;
    color: var(--verde);
    border: solid 1px var(--verde);
    border-radius: 50%;
}